

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 20px;
    border-bottom: 1px solid var(--color-21);
    transition: all .3s ease;
    z-index: 999;
}

.fixheader {
    position: fixed;
    top: 0;
    width: 90%;
    margin: 0 auto;
    transform: all .3s ease;
    z-index: 99;
    background-color: #f9f9f9;
}

.search_input {
    border: none;
    outline: none;
    background-color: transparent;
}

.search_input::placeholder {
    color: var(--color-15);
    font-size: calc(.8rem + .1vw);
}

.search_wrapper {
    border-bottom: 1px solid var(--color-15);
    padding-bottom: 5px;
}

.search_icon {
    color: var(--color-15);
}

.btn_2 {
    all: unset;
    color: #fff;
    background-color: var(--color-3);
    padding: 5px 15px 8px 15px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    font-size: calc(.8rem + .1vw);
}

.plus_btn_2 {
    margin-right: 15px;
}