


.input_content_wrapper {
    border: 1px solid var(--color-8);
    border-radius: var(--border-radius-1);
    padding: 10px 9px 10px 15px;
    background-color: var(--color-20);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input_content_wrapper input::placeholder {
    color: var(--color-21);
    opacity: 1;
    font-size: clamp(.8rem, .9vw, 1rem);
}

.input_form {
    all: unset;
    width: 100%;
    border: none;
    outline: none;
    background: transparent;
}

.icon_input {
    color: var(--color-1);
}

/* font-size: clamp(.8rem, .9vw, 1rem); */