@import url('../../../../Styles/Main.css');

.form2-container {
    width: 93%;
    margin: 1.5rem auto 0 auto;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-2);
    padding: 24px
}

.wide {
    width: 100%;
}

.p-form2-content {
    max-height: 70vh;
    overflow-y: scroll;
}

.p-form2-row {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 80%;
    flex-wrap: wrap;
}

.widthinput {
    width: 90%;
}

.p-form2-row2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.amount-wrapper {
    width: 90%;
    margin: 0 auto 0 0;
}

.amount-fuel-wrapper,
.amount-cng-wrapper {
    display: flex;
    align-items: center;
}

.amount-fuel-content,
.amount-cng-content {
    display: flex;
    align-items: center;
}


.f-text {
    color: var(--color-1);
    margin: 0 2rem;
}


.p-form2-row3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 4rem;

}

.tire-wear-content {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
}

.numbers-tire {
    width: 80%;
    margin: 0 auto;
}

.inputtire {
    width: 45%;
}

.p-form2-row4 {
    width: 70%;
    display: flex;
    justify-content: space-between;
    margin-top: 4rem;
}


.spare-tire-content {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
}

.erosion-rate-content {
    display: flex;
    align-items: center;
    margin-top: 1.1rem;
}

.p-form2-row5 {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
}

.input-erosion,
.input-spare {
    margin-right: 1.2rem;
}

.input-amount {
    margin: 0 .6rem;
}

.p-form2-row6 {
    margin-top: 4rem;
}

.vehicle-condition-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.vehicle-condition-item-content {
    display: flex;
    flex-direction: column;
}

.vehicle-condition-item {
    display: flex;
    flex-direction: column;
    width: max-content;
}

.detail-vehicle-condition-item {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.vehicle-item-text {
    color: var(--color-1);
    font-weight: bold;
    font-size: calc(.8rem + .1vw)
}

.viewmore {
    font-size: .8rem;
    color: var(--color-1);
    cursor: pointer;
    font-weight: bold;
    border-bottom: 1px solid var(--color-1);
}

.p-form2-row7 {
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
}

.map-drop_wrapper {
    width: 80%;
}

.part-machine-container {
    display: flex;
    flex-wrap: wrap;
    justify-items: start;
}

.part-machine-item {
    display: flex;
    justify-content: center;
    align-items: start;
    margin-bottom: 2rem;
}

.title-item {
    font-size: clamp(1.2rem, 1, 4ren, 2rem);
    font-weight: bold;
    color: var(--color-3);
}

.belongings-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    margin-top: 1rem;
}

.input-belongings {
    all: unset;
    border: 1px solid var(--color-8);
    border-radius: var(--border-radius-1);
    padding: 10px 9px 10px 15px;
    background-color: var(--color-20);
    margin-top: 10px;
}

.belongings-input {
    width: 70%;
}

.belongings-item-container {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;

}

.belongings1 {
    width: 75%;
}

.belonging2 {
    width: 95%;
}

.radio-fuel-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.dropwidth3 {
    margin-top: 1.3rem;
}

.saved-text {
    width: 50%;
    text-align: start;
    margin-top: 1.2rem;
    font-size: .9rem;
}

@media (max-width:1587px) {
    .codecar-itemes {
        width: 80%;
    }
}

@media (max-width:1351px) {
    .map-drop_wrapper {
        width: 90%;
    }
}

@media (max-width:1346px) {
    .belongings1 {
        width: 80%;
    }
}


@media (max-width:1262px) {
    .f-text {
        margin: 0 .5rem;
    }
}

@media (max-width:1241px) {
    .p-form2-row4 {
        width: 85%;
    }

    .map-drop_wrapper {
        width: 95%;
    }
}

@media (max-width:1200px) {
    .numbers-tire {
        display: flex;
        justify-content: center;
    }
}


@media (max-width:1191px) {
    .map-drop_wrapper {
        width: 90%;
    }
}

@media (max-width:1182px) {
    .codecar-itemes {
        width: 90%;
    }
}

@media (max-width:1113px) {
    .amount-wrapper {
        width: 100%;
    }
}


@media (max-width:1025px) {
    .p-form2-row {
        width: 90%;
    }
}

@media (max-width:992px) {
    .codecar-itemes {
        width: 50%;
    }

    .inputtire {
        width: 80%;
    }

    .map-drop_wrapper {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .dropwidth3 {
        width: 40%;
    }

    .part-machine-container {
        margin-top: 2rem;
    }

    .part-machine-item {
        justify-content: start;
    }
}

@media (max-width:910px) {
    .p-form2-row {
        width: 100%;
    }
}

@media (max-width:860px) {
    .p-form2-row4 {
        width: 100%;
    }
}

@media (max-width:848px) {
    .vehicle-condition-item {
        width: 95%;
    }
}

@media (max-width:786px) {
    .codecar-itemes {
        width: 65%;
    }
}

@media (max-width:769px) {
    .numbers-tire {
        justify-content: start;
        margin: 0;
        margin-top: 20px;
    }

    .inputtire {
        width: 100%;
    }
}

@media (max-width:768px) {
    .p-form2-row3 {
        margin-top: 1rem;
    }

    .belongings1 {
        width: 70%;
    }

    .p-form2-row3 {
        flex-direction: column;
        justify-content: start;
    }

    .p-form2-row4 {
        flex-direction: column;
        margin-top: 2rem;
    }

    .erosion-rate-wrappper {
        margin-top: 1.5rem;
    }

    .widthinput {
        width: 100%;
    }

    .vehicle-condition-wrapper {
        justify-content: space-around;
    }
}


@media (max-width:767.5px) {
    .inputtire {
        width: 50%;
    }
}


@media (max-width:740px) {
    .dropwidth3 {
        width: 250px;
    }
}

@media (max-width:678px) {
    .dropwidth3 {
        width: 200px;
    }
}

@media (max-width:610px) {
    .p-form2-row5 {
        margin-top: 2rem;
        flex-direction: column;
    }

    .title-item-form {
        margin-bottom: 2rem;
    }

}

@media (max-width:600px) {

    .form2-container {
        width: 100%;
    }

    .belongings1 {
        width: 100%;
    }

    .codecar-itemes {
        width: 100%;
    }

    .amount-fuel-wrapper,
    .amount-cng-wrapper {
        flex-direction: column;
        align-items: start;
    }

    .amount-fuel-text,
    .amount-cng-text {
        margin-bottom: 20px;
    }

    .f-text {
        display: none;
    }

    .radio-fuel-wrapper {
        flex-wrap: wrap-reverse;
    }

    .radio-fuel-item {
        width: 50%;
        margin-bottom: 15px;
    }

    .tire-wear-content {
        flex-wrap: wrap;
    }

    .input-amount {
        margin: 0;
    }

    .input-erosion,
    .input-spare {
        width: 50%;
        margin-right: 0;
    }

    .numbers-tire,
    .inputtire {
        width: 100%;
    }

    .erosion-rate-content {
        flex-wrap: wrap;
    }

    .p-form2-row2 {
        margin-top: 2rem;
    }

    .map-drop_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .dropwidth3 {
        width: 100%;
        margin-top: 2rem;
    }

    .belongings-input {
        width: 100%;
    }

    .vehicle-condition-item {
        width: 100%;
    }
}