.pform3-container {
    width: 93%;
    margin: 1.5rem auto 0 auto;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-2);
    padding: 24px;
    margin: 1.5rem auto 0 auto;
}

.p-form3-content {
    max-height: 70vh;
    overflow-y: scroll;
}

.statements-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    width: 90%;
}


.statements-title {
    font-size: clamp(.8rem, .9vw, 1rem);
    color: var(--color-1);
    font-weight: bold;
}

.statements-content {
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.statements-text {
    border-radius: var(--border-radius-1);
    background-color: var(--color-20);
    border: 1px solid var(--color-8);
    padding: 15px;
    outline: none;
    resize: none;
    margin-top: .5rem;
    height: 25vh;
    width: 90%;
    max-height: 340px !important;
}

.statements-text::placeholder {
    font-size: clamp(.8rem, .9vw, 1rem);
}

.statements-media {
    margin-right: 15px;
}

.media-statements {
    margin-top: 1.3rem;
    background-color: var(--color-1);
    color: #fff;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.media-voice {}

.media-file {}

.statements-coustomer,
.statements-export {
    width: 45%;
}

.estimate-wrapper {
    width: 90%;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.estimate-item {
    width: 45%;
}

.estimate-input {
    width: 50%;
}

.pform3-container-table {
    width: 90%;
}


.MuiTableCell-head,
.MuiTableCell-body {
    text-align: center !important;
}

.MuiTableHead-root {
    background: #F0EBD880;
}

.MuiTableCell-head {
    color: var(--color-1) !important;
    font-weight: bold;
}

.add-estimate-btn {
    all: unset;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-3);
    border-radius: 100px;
    padding: 7px 15px;
    cursor: pointer;
    color: #fff;
}

@media (max-width:1130px) {
    .pform3-container {
        width: 100%;
    }
}


@media (max-width:992px) {
    .estimate-input {
        width: 70%;
    }
}

@media (max-width:768px) {

    .statements-coustomer,
    .statements-export {
        width: 70%;
    }

    .estimate-input {
        width: 85%;
    }

    .statements-container {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .p-form3-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width:600px) {
    .pform3-container {
        padding: 5px 10px;
    }

    .statements-container {
        width: 100%;
    }

    .statements-text {
        width: 100%;
    }

    .statements-coustomer,
    .statements-export {
        width: 95%;
    }

    .statements-content {
        flex-direction: column;
    }

    .estimate-wrapper {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .pform3-container-table {
        width: 100%;
    }

    .estimate-input {
        width: 100%;
    }

    .estimate-item {
        width: 100%;
    }

    .statements-media {
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .statements-export,
    .statements-coustomer {
        margin-top: 2rem;
    }
}