@import url('../../../../Styles//Main.css');

.form1-container {
    width: 93%;
    margin: 1.5rem auto 0 auto;
}

.tab1-pform1 {
    background-color: red !important;
}

.p-form1-part-one {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.h-p-form1 {
    height: 163px;
    resize: none;
}

.p-form1-part-two,
.p-form1-part-tree {
    border-top: 1px solid #f9f9f9;
    padding: 20px 0 25px 0;
}


.moraje-container {
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0 auto 0 0;
}

.moraje-wrappper {
    display: flex;
}

.moraje-title {
    margin-left: 15px;
    margin-top: 15px;
}

.p-form1-part-two-radio-wrapper {
    display: flex;
    flex-direction: column;
}