.manual_btn{
   font-size: 1rem !important;
   font-weight: 500 !important;
   color: #FFFFFF !important;
   background-color:  #C3C3C3 !important;
   border-radius: 100px !important;
   border: none !important;
   outline: none !important;
   font-family: 'iranYekan', sans-serif !important;
   line-height: 20px !important;
   font-weight: 500;
   padding: 9px 20px !important;
   /* box-shadow: none !important; */
}
.active_btn{
   font-family: 'iranYekan', sans-serif !important;
   font-size: 1rem !important;
   font-weight: 700 !important;
   line-height: 20px !important;
   color: #FFFFFF !important;
   background-color:  var(--color-3) !important;
   border-radius: 100px !important;
   border: none !important;
   outline: none !important;
   padding: 9px 20px !important;
}