body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.content-conatiner {
    display: flex;
}
.subtitle-project{
    font-size: 1rem;
    font-weight: bold;
}

.space-content {
    padding: 0 calc(20px + 1vw);
    width: 100%;
}