@import url('../../../../Styles//Main.css');

/* start style tab1 */
.form1-container {
    width: 93%;
    margin: 0 auto 0 auto;
}

.tab1-pform1 {
    background-color: #fff;
    border-radius: var(--border-radius-1);
    box-shadow: var(--box-shadow-2);
}


.p-form1-contant {
    width: 92%;
    max-height: 70vh;
    overflow-y: scroll;
}

.p-form1-row {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 100%;
}

.inputwidth {
    width: 80%;
}

.p-form-row2 {
    width: 93.5%;
}

.p-form2-complete {
    margin-top: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.make-turn {
    display: flex;
    align-items: center;
}

.refer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.refer-content {
    display: flex;
    flex-direction: column;
}

.refrer-option {
    display: flex;
    align-items: center;
}

.radiostyle {
    margin-right: 2rem !important;
}

.p-form-row3 {
    margin-top: 5rem;
}

.options-services-wrappper {
    width: 93.5%;
    display: flex;
    justify-content: center;
}

.options-services {
    margin-right: 3.5rem;
}

.title-item-form {
    color: var(--color-1);
    font-weight: bold;
    font-size: clamp(.8rem, .9vw, 1rem);
}

.complete-info {
    font-weight: bold;
    color: var(--color-15);
    font-size: clamp(1.1rem, 1vw, 1.7rem)
}

.p-form-actions {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
}

/* ens style tab1 */

/* start style tab2 */

.p-fomrm1-tab2-wrapper {
    width: 92%;
    max-height: 70vh;
    overflow-y: scroll;
}

.p-form1-contant-tab2 {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.p-form1-contant-tab2-left {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.tab2-left-item {
    display: flex;
    width: 80%;
    flex-direction: column;
}

.tab2-refer-wrapper {
    display: flex;
    align-items: center;
    margin-top: 7rem;
}

.p-form1-contant-tab2-botton {
    display: flex;
    justify-content: space-between;
    align-items: end;
}

/* end style tab2 */
.dropwidth {
    width: 70%;
}

.dropwidth2 {
    width: 80%;
}

.eara1 {
    resize: none;
    height: 100px;
}

.eara2 {
    resize: none;
    height: 120px;
}

.p-form1-texte {
    width: 93.5%;
}

.css-nzhyv8-MuiButtonBase-root-MuiTab-root.Mui-selected {
    color: var(--color-1) !important;
    font-weight: bold;
}

.css-1aquho2-MuiTabs-indicator {
    background-color: var(--color-1) !important;
}


/* end style co */