@import url('../../../Styles/Main.css');

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkbox-container label {
    margin-right: 10px;
    cursor: pointer;
}

.check-input {}

.lable-check {}