

.checkbox-container {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.checkbox-container label {
    margin-right: 10px;
    cursor: pointer;
    color: var(--color-1);
}

.check-input {
    accent-color: var(--color-1)
}

.lable-check {}

.wrap-checkbox-dec {}

.wrap-checkbox {
    width: 200px;
    max-width: 200px;
    height: 63px;
    resize: none;
}

.wrap-checkbox.wrap-checkbox::placeholder {
    font-size: .9rem;
}