@import url('../../../Styles/Main.css');

.input-carector {
    all: unset;
    border-bottom: 1px solid var(--color-1);
    padding-bottom: 5px;
    text-align: center;
    width: 78px;
}

.text-carector {
    color: var(--color-21);
}